<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<title>Vastauslista</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<table><tr>
<th>	<h1>Vastaukset:</h1></th>
			<th></th>
			<th></th>
			<th></th>
			
		<!--	<th> Logged in as: [[${#httpServletRequest.remoteUser}]]</th>
			<th><form th:action="@{/logout}" method="post">
			<input type="submit" value="Logout" class="btn btn-danger"/></form>-->


	
	
		<tr>
			<th>VastausId</th>
			<th>KysymysId</th>
			<th>Vastaus</th>
		
			

		</tr>
		<tr th:each="answer : ${answers}">

			<td th:text="${answer.answerId}"></td>
			<td th:text="${answer.questionId}"></td>
			<td th:text="${answer.answer}"></td>   		
 		<td><a th:href="@{/deleteanswer/{id}(id=${answer.answerId})}">Poista</a></td>  		
		</tr>
	</table>
	<br>
	
<a href="/">Ohjauspaneeliin</a>   
	
</body>
</html>