<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Muokkaa ajoneuvoja</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
</head>

<body>

    	<div class="header-wrapper">
				<div class="header">
				  <ul class="navigation">
					<li><a href="/workdaylist">Etusivu</a></li>
				  <li class="dropdown">
						<a href="javascript:void(0)" class="dropbtn">Lisää..</a>
						<div class="dropdown-content">
								<a href="/addworkday">Lisää työpäivä</a>
								<p sec:authorize="hasAuthority('ADMIN')"><a href="/addvehicle" class="btn btn-success">Lisää auto</a> </p>
						</div>
					</li>
					<li sec:authorize="hasAuthority('ADMIN')"class="dropdown">
					<a sec:authorize="hasAuthority('ADMIN')" href="javascript:void(0)" class="dropbtn">Hallinnoi..</a>
					<div class="dropdown-content">
					<a sec:authorize="hasAuthority('ADMIN')"href="/vehiclelist">Hallinnoi autoja</a>
							</div>
						</li>	
				  </ul>
  					  <ul class="logout">
					    <form sec:authorize="isAnonymous()" th:action="@{/login}" method="post"><input class="logout" type="submit" value="Kirjaudu sisään"/></form>
					    <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post"><input class="logout" type="submit" value="Kirjaudu ulos"/></form>
					  </ul>
				</div>
			  </div>
		<div class="content-wrapper">
				<div class="content">
				<p class="center-title">Muokkaa ajoneuvoja</p>
				<br/>
	<div>
	

		<form th:object="${vehicleform}" th:action="@{/savevehicle}" action="#" method="post">
			<input type="hidden" th:field="*{id}"/>
		  	<label for="make">Auton malli</label>
			<input type="text" id="make" th:field="*{make}" />
			<font color="red"><p th:if="${#fields.hasErrors('make')}" th:errors="*{make}"></p></font>	
			<div style="clear: both; display: block; height: 10px;"></div>
		  	<label for="model">Auton merkki</label>
			<input type="text" id="model" th:field="*{model}" />
			<font color="red"><p th:if="${#fields.hasErrors('model')}" th:errors="*{model}"></p></font>					
			<div style="clear: both; display: block; height: 10px;"></div>
		  	<label for="regNo">Rekisterinumero</label>	
			<input style="text-transform:uppercase" type="text" id="regNo" th:field="*{regNo}" />
		  	<font color="red"><p th:if="${#fields.hasErrors('regNo')}" th:errors="*{regNo}"></p></font>							
			<div style="clear: both; display: block; height: 10px;"></div>
			<input type="submit" value="Save"></input>
		</form>
	</div>
	</div>
	</div>
</body>
</html>
