<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<title>Kysymyslista</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<table><tr>
<th>	<h1>Kysymykset:</h1></th>
			<th></th>
			<th></th>
			<th></th>
			
		<!--	<th> Logged in as: [[${#httpServletRequest.remoteUser}]]</th>
			<th><form th:action="@{/logout}" method="post">
			<input type="submit" value="Logout" class="btn btn-danger"/></form>-->


	
	
		<tr>
			<th>Id</th>
			<th>Kysymys</th>
			<th>Tyyppi</th>
			<th>Kategoria</th>
		
			

		</tr>
		<tr th:each="qstn : ${questions}">

			<td th:text="${qstn.questionId}"></td>
			<td th:text="${qstn.questionName}"></td>
			<td th:text="${qstn.questionType}"></td>
			<!--<td th:text="${qstn.category.categoryName}"></td>  -->
 			<td><a th:href="@{/editquestion/{id}(id=${qstn.questionId})}">Muokkaa</a></td>    		
 		<td><a th:href="@{/delete/{id}(id=${qstn.questionId})}">Poista</a></td>  		
		</tr>
	</table>
	<br>
	
<a href="/addquestion">Lisää uusi kysymys</a>   
	
</body>
</html>